@font-face {
	font-family: 'Ekibastuz';
	src: url('../fonts/Ekibastuz-ExtraBlack.eot');
	src: local('Ekibastuz ExtraBlack'), local('Ekibastuz-ExtraBlack'),
		url('../fonts/Ekibastuz-ExtraBlack.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ekibastuz-ExtraBlack.woff2') format('woff2'),
		url('../fonts/Ekibastuz-ExtraBlack.woff') format('woff'),
		url('../fonts/Ekibastuz-ExtraBlack.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Ekibastuz';
	src: url('../fonts/Ekibastuz-Black.eot');
	src: local('Ekibastuz Black'), local('Ekibastuz-Black'),
		url('../fonts/Ekibastuz-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ekibastuz-Black.woff2') format('woff2'),
		url('../fonts/Ekibastuz-Black.woff') format('woff'),
		url('../fonts/Ekibastuz-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Ekibastuz';
	src: url('../fonts/Ekibastuz-Bold.eot');
	src: local('Ekibastuz Bold'), local('Ekibastuz-Bold'),
		url('../fonts/Ekibastuz-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ekibastuz-Bold.woff2') format('woff2'),
		url('../fonts/Ekibastuz-Bold.woff') format('woff'),
		url('../fonts/Ekibastuz-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Ekibastuz';
	src: url('../fonts/Ekibastuz-Heavy.eot');
	src: local('Ekibastuz Heavy'), local('Ekibastuz-Heavy'),
		url('../fonts/Ekibastuz-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ekibastuz-Heavy.woff2') format('woff2'),
		url('../fonts/Ekibastuz-Heavy.woff') format('woff'),
		url('../fonts/Ekibastuz-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Ekibastuz';
	src: url('../fonts/Ekibastuz-Regular.eot');
	src: local('Ekibastuz Regular'), local('Ekibastuz-Regular'),
		url('../fonts/Ekibastuz-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ekibastuz-Regular.woff2') format('woff2'),
		url('../fonts/Ekibastuz-Regular.woff') format('woff'),
		url('../fonts/Ekibastuz-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ekibastuz';
	src: url('../fonts/Ekibastuz-Light.eot');
	src: local('Ekibastuz Light'), local('Ekibastuz-Light'),
		url('../fonts/Ekibastuz-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ekibastuz-Light.woff2') format('woff2'),
		url('../fonts/Ekibastuz-Light.woff') format('woff'),
		url('../fonts/Ekibastuz-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

