@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?g1tn3a');
	src:  url('../fonts/icomoon.eot?g1tn3a#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?g1tn3a') format('truetype'),
		url('../fonts/icomoon.woff?g1tn3a') format('woff'),
		url('../fonts/icomoon.svg?g1tn3a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-angl-left:before {
	content: "\e900";
}
.icon-arrow-angl-right:before {
	content: "\e901";
}
.icon-arrow-around-left:before {
	content: "\e902";
}
.icon-arrow-around-right:before {
	content: "\e903";
}
.icon-arrow-left:before {
	content: "\e904";
}
.icon-arrow-right:before {
	content: "\e905";
}
.icon-email:before {
	content: "\e906";
}
.icon-list:before {
	content: "\e907";
  }
.icon-magnifiying-glass:before {
	content: "\e924";
}
.icon-phone:before {
	content: "\e925";
}
.icon-piggy-bank:before {
	content: "\e926";
}
.icon-placeholder:before {
	content: "\e927";
}
.icon-production:before {
	content: "\e928";
}
.icon-shopping-cart:before {
	content: "\e929";
}
