$mainBGcolor: #00142C;
$mainTextColor: #DC143C;
$additionalTextColor: #FF7F50;


body {}

b {
    font-weight: bold;
}
p {
    @include font-IBMPlexSans;
    font-size: 18px;
    line-height: 23px;
    color: #4F4F4F;
    margin-bottom: 20px;
}
