.custom-control {
	&.custom-radio {
		&.custom-radio_block {
			.custom-control-label {
				text-transform: none!important;
				@include font-IBMPlexSans;
				font-weight: normal!important;
				font-style: normal!important;
				font-size: 14px!important;
				line-height: 18px!important;
				color: #000000!important;

				border: 1px solid #EDF0F5;
				border-radius: 2px;
				padding: 8px 22px;
	
				-webkit-touch-callout: none; /* iOS Safari */
				-webkit-user-select: none;   /* Chrome/Safari/Opera */
				-khtml-user-select: none;    /* Konqueror */
				-moz-user-select: none;      /* Firefox */
				-ms-user-select: none;       /* Internet Explorer/Edge */
				user-select: none;
				
				&:before {
					display: none;
				}
			}
			.custom-control-input:checked~.custom-control-label {
				background: #EDF0F5;
			}
		}
		&.custom-radio_type {
			.custom-control-label {
				text-transform: none!important;
				font-weight: normal!important;
				font-style: normal!important;
				color: #000000!important;
				@include font-IBMPlexSans;
				font-size: 16px!important;
				line-height: 21px!important;
				&:before {
					border: 1px solid #EDF0F5!important;
					width: 15px;
					height: 15px;
					top: 3px;
				}
				&:after {
					content: ""!important;
					position: absolute;
					top: 6px;
					left: 3px;

					display: block!important;
					width: 9px;
					height: 9px;
					border-radius: 100%;
					background: $mainColor;

					opacity: 0;
				}
			}
			.custom-control-input:checked~.custom-control-label {
				&:before {
					background: none!important;
					border: 1px solid #d5d5d5!important;
				}
				&:after {
					opacity: 1;
				}
			}
		}
	}
}
.nice-select {
	min-width: 200px;
	height: 28px;

	@include font-IBMPlexSans;
	font-size: 14px;
	line-height: 18px;

	color: #000000;
	.current {
		line-height: 28px;
	}
	.list {
		min-width: 200px;
	}
	&:after {
		border: 0px;
		border: 6px solid transparent;
		border-top: 10px solid $mainColor;
		transform: rotate(0deg);
	}
	&.open:after {
		transform: scale(1, -1);
		transform-origin: center;
		top: calc(50% - 7px);
	}
}
.product-details-content .product-info .size-box .custom-control {
	margin-bottom: 15px;
	margin-right: 15px;
}
.contact-section .default-form .form-group input[type=email],
.contact-section .default-form .form-group input[type=text],
.contact-section .default-form .form-group textarea {
	border: 1px solid #EDEDED;
	padding: 17px 27px;
	@include font-IBMPlexSans;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	color: #BDBDBD;
}

.picker-number {
	&.picker-number_type-2 {
		width: 180px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;

		border: 1px solid #828282;

		.picker-number__button {
			box-sizing: border-box;

			background: none;
			border: 1px solid transparent;
			border-radius: 6px;

			display: flex;
			justify-content: center;
			align-items: center;

			width: 20px;
			height: 20px;
			min-width: 20px;
			min-height: 20px;
			padding: 0px;
			

			font-size: 18px;
			color:  #828282;

			transition: 
				box-shadow 0.5s ease,
				color 0.5s ease,
				border-color 0.5s ease,
				background-color 0.5s ease,
				transform 0.5s ease;
			&.picker-number__button_dec {
				padding-top: 2px;
				padding-left: 2px;
			}
			&:hover {
				box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
				border: 1px solid $mainColor;
			}
			&:focus {
				outline: none;
			}
			&:active {
				transform: scale(1.14);
			}
		}
		.picker-number__input {
			box-sizing: border-box;

			font-size: 18px;
			height: 100%;


			width: calc(100% - 56px);
			border: 0px;
			padding: 0px;
			margin: 0px;
			background: none;

			@include font-IBMPlexSans;
			font-size: 18px;
			line-height: 23px;
			color: #000000;
			text-align: center;

			&[type='number'] { -moz-appearance:textfield; }
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button { -webkit-appearance: none; }
		}

		&.picker-number_type-2_hover-1 {
			.picker-number__button {
				&:hover {
					color:  #E5E5E5;
					border-color: $mainColor;
					background-color: $mainColor;
				}
			}
		}
		&.picker-number_type-2_hover-2 {
			.picker-number__button {
				background: none;
				&:hover {
					border: 1px solid $mainColor;
					color: $mainColor;
					border-color: $mainColor;
				}
			}
		}
	}
}