.theme-btn-one {
	@include font-IBMPlexSans;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 31px;
	color: #000000;
	i {
		transform: unset;
	}
	&.theme-btn-one_main {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		width: 256px;
		font-size: 14px;
		font-weight: bold;
		line-height: 18px;
		color: #FFFFFF;

		background-color: $mainColor;
		border: 0px;
	}
}

