<!-- chooseus-section -->
<section class="chooseus-section mb-30-lg-160">
	<div class="outer-container clearfix">
		<div class="content-column">
			<div class="inner-column">
				<div class="content-box">
					<div class="sec-title style-two">
						<h2>Преимущества продукции</h2>
						<p>Качество продукции для нас превыше всего</p>
						<span class="separator" style="background-image: url(images/line.svg);"></span>
					</div>
					<div class="inner-box">
						<div class="row clearfix">
							<div class="col-lg-6 col-md-6 col-sm-12 single-column">
								<div class="single-item wow fadeInLeft animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
									<div class="icon-box">
										<i class="icon-production"></i>
									</div>
									<h3>Собственное производство</h3>
									<p>Это обеспечивает стабильность поставок и низкую стоимость</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 single-column">
								<div class="single-item wow fadeInRight animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
									<div class="icon-box">
										<i class="icon-production"></i>
									</div>
									<h3>Собственное производство</h3>
									<p>Это обеспечивает стабильность поставок и низкую стоимость</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 single-column">
								<div class="single-item wow fadeInLeft animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
									<div class="icon-box">
										<i class="icon-production"></i>
									</div>
									<h3>Собственное производство</h3>
									<p>Это обеспечивает стабильность поставок и низкую стоимость</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 single-column">
								<div class="single-item wow fadeInRight animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
									<div class="icon-box">
										<i class="icon-production"></i>
									</div>
									<h3>Собственное производство</h3>
									<p>Это обеспечивает стабильность поставок и низкую стоимость</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="image-column" style="background-image: url(images/about-section.jpg);"></div>
	</div>
</section>
<!-- chooseus-section end -->