<!-- page-title -->
<section class="page-title centred">
	<div class="pattern-layer" style="background-image: url(images/page-title.jpg);"></div>
	<div class="auto-container">
		<div class="content-box">
			<h1>Продукция</h1>
			<ul class="bread-crumb clearfix">
				<li><a href="#">Главная</a></li>
				<li>Каталог</li>
			</ul>
		</div>
	</div>
</section>
<!-- page-title end -->