<!-- topcategory-section-two -->
<section class="topcategory-section-two sec-pad">
	<div class="container">
		<div class="row clearfix">
			<div class="col-lg-6 col-md-6 col-sm-12 inner-column">
				<div class="sec-title style-two">
					<h2>Каталог товаров</h2>
					<p class="pr-5 pr-lg-0">Собственное производство медицинских изделий</p>
					<span class="separator" style="background-image: url(images/line.svg);"></span>
				</div>
				<div class="single-item">
					<div class="inner-box">
						<figure class="image-box">
							<img class="lazyload" data-src="images/catalog-2.png" alt="img">
						</figure>
						<div class="content-box">
							<h3><a href="shop.html">Одноразовая одежда</a></h3>
							<a href="#" class="view-btn">Подробнее<i class="icon-arrow-angl-right"></i></a>
						</div>
					</div>
				</div>
				<div class="single-item">
					<div class="inner-box">
						<figure class="image-box">
							<img class="lazyload" data-src="images/catalog-4.png" alt="img">
						</figure>
						<div class="content-box">
							<h3><a href="shop.html">Потребности операционной</a></h3>
							<a href="#" class="view-btn">Подробнее<i class="icon-arrow-angl-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 inner-column">
				<div class="single-item">
					<div class="inner-box">
						<figure class="image-box">
							<img class="lazyload" data-src="images/catalog-1.png" alt="img">
						</figure>
						<div class="content-box">
							<h3><a href="shop.html">Одноразовое белье</a></h3>
							<a href="#" class="view-btn">Подробнее<i class="icon-arrow-angl-right"></i></a>
						</div>
					</div>
				</div>
				<div class="single-item">
					<div class="inner-box">
						<figure class="image-box">
							<img class="lazyload" data-src="images/catalog-3.png" alt="img">
						</figure>
						<div class="content-box">
							<h3><a href="shop.html">Комплекты одежды</a></h3>
							<a href="#" class="view-btn">Подробнее<i class="icon-arrow-angl-right"></i></a>
						</div>
					</div>
				</div>
				<div class="single-item">
					<div class="inner-box">
						<figure class="image-box">
							<img class="lazyload" data-src="images/catalog-1.png" alt="img">
						</figure>
						<div class="content-box">
							<h3><a href="shop.html">Акушерство и гинекология</a></h3>
							<a href="#" class="view-btn">Подробнее<i class="icon-arrow-angl-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- topcategory-section-two end -->