<!-- main-footer -->
	<footer class="main-footer">
		<div class="footer-top">
			<div class="auto-container">
				<div class="row clearfix">
					<div class="col-lg-6 col-md-12 col-sm-12 big-column">
						<div class="row clearfix">
							<div class="col-6 col-lg-4 col-md-4 col-sm-12 footer-column">
								<div class="footer-widget logo-widget">
									<figure class="footer-logo">
										<a href="#">
											<img class="lazyload" data-src="images/logo.png" alt="img">
										</a>
									</figure>
								</div>
								p(class="footer-description")
									| Производство медицинских одноразовых изделий из нетканных материалов
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 footer-column d-none d-lg-block">
								<div class="footer-widget links-widget">
									<div class="widget-title">
										<h3>О компании</h3>
									</div>
									<div class="widget-content">
										<ul class="links-list clearfix">
											each item in ["Производство", "Партнеры", "Премии", "Контакты"]
												li()
													a(href="#")
														= item
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12 footer-column d-none d-lg-block">
								<div class="footer-widget links-widget">
									<div class="widget-title">
										<h3>О продукции</h3>
									</div>
									<div class="widget-content">
										<ul class="links-list clearfix">
											each item in ["Используемые материалы", "Функциональные элементы", "Инструкции", "Нормативные документы", "Условия доставки"]
												li()
													a(href="#")
														= item
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-sm-12 big-column">
						<div class="row clearfix">
							<div class="col-lg-4 col-md-6 col-sm-12 footer-column d-none d-lg-block">
								<div class="footer-widget links-widget">
									<div class="widget-title">
										<h3>Услуги</h3>
									</div>
									<div class="widget-content">
										<ul class="links-list clearfix">
											each item in ["Стерилизация окисью этилена", "Валидация процессов стерилизации", "Валидация процессов упаковывания"]
												li()
													a(href="#")
														= item
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-8 col-md-6 col-sm-12 footer-column">
								<div class="footer-widget newsletter-widget">
									<div class="widget-title">
										<h3>Контакты</h3>
									</div>
									<ul class="info-list clearfix">
										<li><a href="tel:+73512689099" class="phone d-flex align-items-center"><i class="icon-phone mr-3"></i>+7 351 268-90-99 </a></li>
										<li><a href="mailto:medica@medica.su" class="mail d-flex align-items-center"><i class="icon-email mr-3"></i>medica@medica.su</a></li>
										<li class="adres d-flex align-items-start">
											<i class="icon-placeholder mr-3"></i>
											<span>456578, Челябинская обл., Еманжелинский р-н, рп Зауральский, ул. Труда, дом № 1А</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="auto-container clearfix d-flex align-items-center flex-column d-lg-block">
				<div class="copyright pull-left">
					<p><a href="#">2020 | Политика конфиденциальности</a></p>
				</div>
				div(class="pull-right")
					a(href="https://deksis.ru/")
						| Разработка сайта
						img(class="lazyload ml-2" data-src="images/deksis.png" alt="img")
			</div>
		</div>
	</footer>
	<!-- main-footer end -->