<!-- Mobile Menu  -->
<div class="mobile-menu">
	<div class="menu-backdrop"></div>
	<div class="close-btn"><span>+</span></div>
	<nav class="menu-box">
		<div class="nav-logo">
			<a href="#">
				<img class="lazyload" data-src="images/logo.png" alt="img">
			</a>
		</div>
		<div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
		<div class="contact-info">
			<h4>Контакты</h4>
			<ul>
				<li class="mb-4"><a href="tel:+73512689099" class="phone d-flex align-items-center"><i class="icon-phone mr-3"></i>+7 351 268-90-99 </a></li>
				<li><a href="mailto:medica@medica.su" class="mail d-flex align-items-center"><i class="icon-email mr-3"></i>medica@medica.su</a></li>
			</ul>
		</div>
	</nav>
</div>
<!-- End Mobile Menu -->