<!-- main header -->
<header class="main-header">
	<div class="header-top d-none d-lg-block">
		<div class="auto-container">
			<div class="top-inner clearfix">
				<div class="top-left pull-left">
					<ul class="info clearfix">
						<li><i class="icon-placeholder"></i>Челябинская обл., рп Зауральский, ул. Труда, 1А</li>
						<li><a href="mailto:Gaz-Ster@medica.su"><i class="icon-email"></i>Gaz-Ster@medica.su</a></li>
					</ul>
				</div>
				<div class="top-right pull-right">
					a(class="phone-block phone-block_header" href="tel:+73512689099")
						i(class="icon-phone mr-2")
						| +7 (351) 268-90-99
				</div>
			</div>
		</div>
	</div>
	<div class="header-lower">
		<div class="auto-container">
			<div class="outer-box">
				<figure class="logo-box">
					<a href="#">
						<img class="lazyload" data-src="images/logo.png" alt="img">
					</a>
				</figure>
				<div class="top-right pull-right header-lower-wrapper-phone d-flex justify-content-end d-lg-none">
					a(class="phone-block phone-block_header" href="tel:+73512689099")
						| +7 (351) 268-90-99
				</div>
				div(class="header-lower-border w-100 d-block d-lg-none")
				<div class="menu-area">
					<!--Mobile Navigation Toggler-->
					<div class="mobile-nav-toggler">
						<i class="icon-bar"></i>
						<i class="icon-bar"></i>
						<i class="icon-bar"></i>
					</div>
					<nav class="main-menu navbar-expand-md navbar-light">
						<div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
							<ul class="navigation clearfix">
								each element, index in ["Главная", "О компании", "Услуги", "Каталог", "Новости", "Контакты"]
									if index == 0
										li(class="current")
											a(href="#")
												= element
									else 
										li
											a(href="#")
												= element
							</ul>
						</div>
					</nav>
				</div>
				<ul class="menu-right-content clearfix">
					<li>
						<div class="search-btn">
							<button type="button" class="search-toggler"><i class="icon-magnifiying-glass"></i></button>
						</div>
					</li>
					<li><a href="#"><i class="icon-list"></i></a></li>
					<li class="shop-cart"><a href="#"><i class="icon-shopping-cart"></i><span>3</span></a></li>
				</ul>
			</div>
		</div>
	</div>

	<!--sticky Header-->
	<div class="sticky-header">
		<div class="auto-container">
			<div class="outer-box clearfix">
				<div class="logo-box pull-left">
					<figure class="logo">
						<a href="#">
							<img class="lazyload" data-src="images/logo.png" alt="img">
						</a>
					</figure>
				</div>
				<div class="menu-area pull-right">
					<nav class="main-menu clearfix">
						<!--Keep This Empty / Menu will come through Javascript-->
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- main-header end -->