<!-- Preloader -->
	<div class="loader-wrap">
		<div class="preloader"></div>
		<div class="layer layer-one"><span class="overlay"></span></div>
		<div class="layer layer-two"><span class="overlay"></span></div>        
		<div class="layer layer-three"><span class="overlay"></span></div>        
	</div>