.main-footer {
	.footer-top {
		padding: 37px 0 50px 0px;
		.footer-widget {
			.widget-title {
				margin-bottom: 37px;
				h3 {
					@include font-IBMPlexSans;
					font-weight: 600;
					font-size: 24px;
					line-height: 31px;
					color: #000000;
					
				}
			}
			.links-list {
				li {
					a {
						@include font-IBMPlexSans;
						font-size: 16px;
						line-height: 21px;
						color: #828282;
						&:hover {
							color: $mainColor;
						}
						&:before {
							background: $mainColor;
						}
					}
					margin-bottom: 18px;
					&:last-child {
						margin: 0px;
					}
				}
			}
			.info-list {
				li {
					margin-bottom: 25px;
					i {
						font-size: 25px!important;
						color: #000;
					}
					&:last-child {
						margin: 0px;
					}
				}
				.phone {
					font-family: Ekibastuz;
					font-style: normal;
					font-weight: bold;
					font-size: 24px;
					line-height: 24px;
					color: #222222;
				}
				.mail {
					font-family: Ekibastuz;
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					line-height: 18px;
					color: #4F4F4F;
				}
				.adres {
					font-family: Ekibastuz;
					font-style: normal;
					font-weight: bold;
					font-size: 18px;
					line-height: 18px;
					color: #4F4F4F;
				}
			}
			@media (max-width: 991px) {
				margin: 0px!important;
			}
		}
		.footer-description {
			@include font-IBMPlexSans;
			font-size: 12px;
			line-height: 16px;
			color: #BDBDBD;
			margin-bottom: 20px;
			margin-top: 14px;
		}
		@media (max-width: 991px) {
			padding: 10px 0px;
		}
	}
	.footer-bottom {
		padding: 27px 0 20px 0px;
		background: #EDEDED;
		a {
			@include font-IBMPlexSans;
			font-size: 12px;
			line-height: 16px;
			color: #BDBDBD;
			&:hover {
				color: $mainColor;
			}
		}
		.copyright {
			@include font-IBMPlexSans;
			font-size: 16px;
			line-height: 21px;
			color: #BDBDBD;
			a {
				&:hover {
					color: $mainColor!important;
				}
			}
		}
	}
}