extends base.pug
block content
	include components/breadcrums.pug
	<!-- about-section -->
	<section class="about-section about-section_bg-no" id="about">
		<div class="container">
			<div class="row align-items-center clearfix">
				<div class="col-lg-4 col-md-6 col-sm-12 text-column">
					<div class="text-inner">
						<h2>О компании и производстве</h2>
						<p>Челябинская компания «Медицина-Айрлайд» – уникальное предприятие – в налаженном производстве конечного цикла: сырье – материал – готовые изделия.</p>
						<p>Среди направлений деятельности компании одним из самых востребованных является выпуск одноразовой медицинской одежды и белья.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 image-column">
					<figure class="image-box">
						<img class="lazyload" data-src="images/about1.png" alt="img">
					</figure>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 text-column">
					<div class="text-inner">
						<div class="box">
							<h4>Наша миссия</h4>
							<p>Обеспечить все медицинские учреждения качественными изделиями, отвечающими современным требованиям гигиены и медицины.</p>
							<p>«Медицина-Айрлайд» является членом Европейской ассоциации производителей предметов гигиены и нетканых материалов (EDANA)</p>
						</div>
						<div class="box">
							<h4>Продукция</h4>
							<p>Применение одноразового медицинского белья и одежды становится нормой. Человечество в ходе своей эволюции пришло к выводу, что самое дорогое в жизни – это здоровье и время, а одноразовая продукция сохраняет и то, и другое.</p>
						</div>
					</div>
				</div>
			</div>
			div(class="row pt-lg-5")
				div(class="col-12 pt-5")
					p()
						| Компания «Медицина-Айрлайд» успешно работает на рынке более 10 лет, гарантируя тем самым высокое качество производимой продукции.
					p()
						| Наличие в арсенале собственного участка газовой стерилизации обеспечивает контроль стерильности производимой продукции. На предприятии установлено итальянское оборудование DE LAMA, которое успешно эксплуатируется фармацевтическими и медицинскими организациями по всему миру.
					p()
						| Газовые стерилизаторы DE LAMA обеспечивают высокий уровень стерильности, при этом температура воздействия не поднимается выше 55 °С, что гарантирует полную сохранность термочувствительных изделий.
		</div>
	</section>
	<!-- about-section end -->

	<!-- clients-section -->
	<section class="clients-section">
		<div class="container">
			div(class="row pb-4")
				div(class="col-12 pb-5")
					h2()
						| Наши партнеры
			<div class="clients-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
				<figure class="clients-logo-box"><img src="images/part1.png" alt="img"></figure>
				<figure class="clients-logo-box"><img src="images/part2.png" alt="img"></figure>
				<figure class="clients-logo-box"><img src="images/part3.png" alt="img"></figure>
				<figure class="clients-logo-box"><img src="images/part4.png" alt="img"></figure>
			</div>
		</div>
	</section>
	<!-- clients-section end -->