extends base.pug
block content
	include components/breadcrums.pug

	div(class="container")
		div(class="row pt-40-lg-80 pb-30-lg-130")
			div(class="col-12 col-lg-6 pb-4 pb-lg-0")
				figure
					img(class="lazyload" data-src="images/about-product.png" alt="img")
			div(class="col-12 col-lg-6")
				p(class="color-000000")
					| Применение одноразового медицинского белья и одежды становится нормой. Человечество в ходе своей эволюции пришло к выводу, что самое дорогое в жизни - это здоровье и время, а одноразовая продукция сохраняет и то, и другое.
				p(class="color-000000")
					| В развитых странах применение одноразового белья и одежды в медицине обязательно. В табелях оснащения наших лечебных учреждений до недавнего времени не было подобных указаний, поскольку закупка продукции за границей требовала значительных средств.
		div(class="row")
			div(class="col-12")
				<div class="sec-title text-left d-flex flex-column justify-content-start">
					<h2 class="font-36">Преимущества нашей продукции</h2>
					<span class="separator m-0" style="background-image: url(images/line.svg);"></span>
				</div>
		div(class="row pb-50-lg-125")
			-arDesc = ["Отсутствие затрат на моющие средства, электроэнергию, амортизацию и ремонт стерилизационного оборудования и оборудования прачечных. В то же время снижение послеоперационных гнойно-септических осложнений вызывают уменьшение расходов", "Современные ученые склоняются к тому, что лучшей профилактикой инфекционных заболеваний сегодня является одноразовая одежда и белье. Многие опасные заболевания и эпидемии были предотвращены благодаря повышению внимания в вопросах гигиены.", "Количество послеоперационных осложнений при использовании одноразового белья снижается до 30%. Кроме того одноразовая одежда защитит медицинский персонал от заражения всякого рода инфекциями (СПИД, гепатит и т.д.).", "Использование одноразовой медицинской продукции позволит улучшить имидж Вашего лечебного учреждения, поможет завоевать доверие клиентов, так как применение одноразовых расходных материалов - это показатель гигиены, чистоты и безопасности для Ваших пациентов!"]
			each item, index in ["ЭКОНОМИЯ", "ГИГИЕНА", "ЗАЩИТА", "ИМИДЖ"]
				div(class="col-12 col-md-6 mb-4")
					div(class="rare-item d-flex flex-column align-items-start")
						span(class="icon icon-piggy-bank")
						h2(class="title")
							= item
						p()
							= arDesc[index]
		div(class="row")
			div(class="col-12")
				<div class="sec-title text-left d-flex flex-column justify-content-start">
					<h2 class="font-36">Функциональные элементы</h2>
					<span class="separator m-0" style="background-image: url(images/line.svg);"></span>
				</div>
		div(class="row pb-50-lg-100")
			-arImg = ["images/about-product-item1.png", "images/about-product-item2.png", "images/about-product-item3.png", "images/about-product-item4.png", "images/about-product-item5.png", "images/about-product-item6.png", "images/about-product-item7.png", "images/about-product-item8.png", "images/about-product-item9.png", "images/about-product-item10.png", "images/about-product-item11.png", "images/about-product-item12.png"]
			-arDesc = ["Используется при операции на конечностях. Обеспечивает возможность изменения операционного доступа.", "Специальные информационные стикеры облегчают процесс раскладывания белья.", "Адгезив, тонко нанесённый на материал, покрытый силиконизированной бумагой.", "Встроенный фиксатор обеспечивает возможность придавать форму сборному карману.", "Встроен в операционные простыни для сбора жидкости, имеет отвод.", "Встроена в сборный карман с отводом для улавливания препаратов для дальнейших исследований.", "Простыни со специальным усилением в зонах, требующих максимальную впитываемости.", "Возможность вскрытия упаковки без дополнительных режущих инструментов и без нарушения стерильности.", "", "", "", ""]
			each item, index in ["ЭЛАСТИЧНОЕ ОТВЕРСТИЕ", "НАПРАВЛЕНИЕ РАСКЛАДКИ", "ЛИПКИЙ КРАЙ", "СБОРНЫЙ КАРМАН С ФИКСАТОРОМ", "СБОРНЫЙ КАРМАН С ОТВОДОМ", "ФИЛЬТРУЮЩАЯ СЕТКА", "ВПИТЫВАЮЩАЯ ЗОНА", "САМОРАСКРЫВАЮЩАЯСЯ УПАКОВКА", "ОПЕРАЦИОННАЯ ПЛЕНКА", "ЯРЛЫЧОК НА ХАЛАТЕ", "ЛИПУЧКА ДЛЯ РЕГУЛИРОВАНИЯ ГОРЛОВИНЫ ХАЛАТА", "МОЛНИЯ С ПЛАНКОЙ"]
				div(class="col-12 col-md-4 col-lg-4 col-xl-3")
					div(class="func-el-item")
						div(class="preview d-flex align-items-center justify-content-center")
							img(class="lazyload img-fluid" data-src=arImg[index] alt="img")
						div(class="content")
							h2(class="title")
								= item
							p(class="description")
								= arDesc[index]
		div(class="row")
			div(class="col-12")
				<div class="sec-title text-left d-flex flex-column justify-content-start">
					<h2 class="font-36">Инструкции</h2>
					<span class="separator m-0" style="background-image: url(images/line.svg);"></span>
				</div>
		div(class="row pb-100")
			-for(let i = 0; i < 6; i++)
				div(class="col-12 col-md-6 col-lg-4")
					div(class="func-el-item func-el-item_instruction d-flex align-items-center")
						div(class="preview d-flex align-items-center justify-content-center")
							img(class="lazyload img-fluid" data-src="images/instruction.png" alt="img")
						div(class="content")
							h2(class="title")
								| Комплект операционного белья Кардио-васкулярного №3 Премиум
							a(class="link d-flex align-items-center" href="#" download)
								img(class="lazyload" data-src="images/surface1.svg" alt="img")
								span
									| Скачать инструкцию