doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
		link(rel="stylesheet" href="css/main.min.css")

		link(rel="shortcut icon" href="images/favicon.png" type="image/png")
		title Медицина Айрлайд		
	body
		div(class="boxed_wrapper")
			include components/preloader-area.pug
			<!-- search-popup -->
			<div id="search-popup" class="search-popup">
				<div class="close-search">
					| +
				</div>
				<div class="popup-inner">
					<div class="overlay-layer"></div>
					<div class="search-form">
						<form method="post" action="#">
							<div class="form-group">
								<fieldset>
									<input type="search" class="form-control" name="search-input" value="" placeholder="Поиск..." required >
									<input type="submit" value="Искать" class="theme-btn style-four">
								</fieldset>
							</div>
						</form>
						<h3>Последние поисковые ключевые слова</h3>
						<ul class="recent-searches">
							<li><a href="#">Финансы</a></li>
							<li><a href="#">Идеи</a></li>
							<li><a href="#">Сервис</a></li>
							<li><a href="#">План</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- search-popup end -->
			include components/header-area.pug
			include components/header-mobile-area.pug
			div(class="content")
				block content
			include components/modal-area.pug
			include components/btn-to-top.pug
			include components/footer-area.pug
		script(src="js/main.min.js")
