extends base.pug
block content
	include components/breadcrums.pug
	<!-- cart section -->
	<section class="cart-section cart-page">
		<div class="auto-container">
			<div class="row">
				<div class="col-12">
					div(class="cart-item cart-item__header d-none d-lg-block")
						div(class="row")
							div(class="col-12 col-lg-4 color-000000 font-18 font-ibm pl-5")
								b()
									| Наименование
							div(class="col-12 col-lg-4 color-000000 font-18 font-ibm")
								b()
									| Параметры
							div(class="col-12 col-lg-4 color-000000 font-18 font-ibm pr-5 d-flex justify-content-end")
								b()
									| Количество
					-for(let i = 0; i < 2; i++)
						div(class="cart-item")
							form(class="row" action="" method="")
								div(class="col-12 col-lg-4 pb-3 pb-lg-0")
									div(class="cart-item__preview")
										a(href="#" class="color-000000 font-18 font-ibm")
											img(class="lazyload" data-src="images/cart.png" alt="img")
											span
												| Простыня
								div(class="col-12 col-lg-4 pb-3 pb-lg-0")
									div(class="row align-items-center pb-3")
										div(class="col-4")
											span(class="color-000000 font-14 font-ibm")
												b()
													| Размер:
										div(class="col-8 d-flex justify-content-end")
											select(class="nice-select")
												option(value="1")
													| 700*700
												option(value="2")
													| 700*700
												option(value="2")
													| 700*700
									div(class="row align-items-center pb-3")
										div(class="col-4")
											span(class="color-000000 font-14 font-ibm")
												b()
													| Тип:
										div(class="col-8 d-flex justify-content-end")
											select(class="nice-select")
												option(value="1")
													| ламинированные
												option(value="2")
													| ламинированные
												option(value="2")
													| ламинированные
									div(class="row align-items-center pb-3")
										div(class="col-4")
											span(class="color-000000 font-14 font-ibm")
												b()
													| Стерильность:
										div(class="col-8 d-flex justify-content-end")
											select(class="nice-select")
												option(value="1")
													| стерильные
												option(value="2")
													| стерильные
												option(value="2")
													| стерильные
									div(class="row align-items-center")
										div(class="col-4")
											span(class="color-000000 font-14 font-ibm")
												b()
													| Упаковка:
										div(class="col-8 d-flex justify-content-end")
											select(class="nice-select")
												option(value="1")
													| 50шт./уп.
												option(value="2")
													| 50шт./уп.
												option(value="2")
													| 50шт./уп.
								div(class="col-12 col-lg-4 color-000000 font-18 font-ibm pr-5 d-flex justify-content-center justify-content-end")
									- elementClassList = ["picker-number_type-2", "picker-number_type-2_hover-1"]
									div(class=['picker-number'] class=elementClassList)
										button(class="picker-number__button picker-number__button_dec" type="button") -
										if(maxValue)
											input(class="picker-number__input" type="number" value="1" step="1")
										else 
											input(class="picker-number__input" type="number" value="1" step="1")
										button(class="picker-number__button picker-number__button_inc" type="button") +
				</div>
			</div>
		</div>
	</section>
	<!-- cart section end -->

	<!-- contact-section -->
	<section class="contact-section pt-0">
		<div class="auto-container">
			<div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 big-column">
				<div class="sec-title">
					<h2 class="font-36 mb-4 pb-2">Оформить заявку</h2>
				</div>
				<div class="form-inner">
					<form method="post" action="#" id="contact-form" class="default-form">
						<div class="row">
							<div class="col-lg-6 col-md-12 col-sm-12 form-group">
								<input type="text" name="username" placeholder="Ваше имя" required>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 form-group">
								<input type="text" name="phone" placeholder="Телефон" required>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 form-group">
								<input type="text" name="orgname" placeholder="Организация" required>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 form-group">
								<input type="email" name="email" placeholder="E-mail" required>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 form-group d-flex justify-content-end">
								button(type="submit" class="theme-btn-one theme-btn-one_main justify-content-center")
									| Отправить
									i(class="icon-arrow-angl-right")
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- contact-section end -->