extends base.pug
block content
	include components/breadcrums.pug
	div(class="pt-90 pb-45-lg-175")
		div(class="container")
			div(class="category-catalog-item")
				div(class="row")
					div(class="col-12 col-sm-6 col-lg-3 pb-3 pb-lg-0")
						a(href="#" class="preview")
							img(class="lazyload w-100" data-src="images/cattegory-catalog-item1.png" alt="img")
					div(class="col-12 col-sm-6 col-lg-9")
						div(class="category-catalog-item-info")
							h2(class="title")
								| Простыни
							div(class="content")
								p
									| Доступны любые размеры, возможно наличие технологических особенностей таких как:
								ul
									each item in ["- различные отверстия;", "- U-образный вырез;", "- адгезивный край;", "- прозрачные вставки;"]
										li
											= item
								p
									| а также, дополнительных элементов (карман, отвод, чехол для шнура).
							div(class="options d-flex flex-wrap align-items-center")
								div(class="options-item d-flex align-items-center")
									div(class="type type-1")
									span(class="text")
										| СМС
								div(class="options-item d-flex align-items-center")
									div(class="type type-2")
									span(class="text")
										| Спанбонд
								div(class="options-item d-flex align-items-center")
									div(class="type type-3")
									span(class="text")
										| Ламинированный спанбонд
								div(class="options-item d-flex align-items-center")
									div(class="type type-4")
									span(class="text")
										| Акваспан
								div(class="options-item d-flex align-items-center")
									div(class="type type-5")
									span(class="text")
										| Медикейс
								div(class="options-item d-flex align-items-center")
									div(class="type type-6")
									span(class="text")
										| Айрлайд
								div(class="options-item d-flex align-items-center")
									div(class="type type-7")
									span(class="text")
										| Ламинированный айрлайд
								div(class="options-item d-flex align-items-center")
									div(class="type type-8")
									span(class="text")
										| Айрлайд с трансферным слоем
						div(class="pt-5")
							a(href="#" class="theme-btn-one theme-btn-one_main")
								| Подробнее
								i(class="icon-arrow-angl-right")
			div(class="category-catalog-item")
				div(class="row")
					div(class="col-12 col-sm-6 col-lg-3 pb-3 pb-lg-0")
						a(href="#" class="preview")
							img(class="lazyload w-100" data-src="images/cattegory-catalog-item2.png" alt="img")
					div(class="col-12 col-sm-6 col-lg-9")
						div(class="category-catalog-item-info")
							h2(class="title")
								| Салфетки впитывающие
							div(class="content")
								p
									| Доступны размеры 330*330, 500*500, 700*500. Белые и цветные.
							div(class="options d-flex flex-wrap align-items-center")
								div(class="options-item d-flex align-items-center")
									div(class="type type-6")
									span(class="text")
										| Айрлайд
								div(class="options-item d-flex align-items-center")
									div(class="type type-8")
									span(class="text")
										| Айрлайд с трансферным слоем
						div(class="pt-5")
							a(href="#" class="theme-btn-one theme-btn-one_main")
								| Подробнее
								i(class="icon-arrow-angl-right")
			div(class="category-catalog-item")
				div(class="row")
					div(class="col-12 col-sm-6 col-lg-3 pb-3 pb-lg-0")
						a(href="#" class="preview")
							img(class="lazyload w-100" data-src="images/cattegory-catalog-item3.png" alt="img")
					div(class="col-12 col-sm-6 col-lg-9")
						div(class="category-catalog-item-info")
							h2(class="title")
								| Пеленка ламинированная впитывающая 700*500
							div(class="content")
								p
									| Идейные соображения высшего порядка, а также реализация намеченных плановых заданий требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. С другой стороны рамки и место обучения кадров представляет собой интересный эксперимент проверки модели развития.
							div(class="options d-flex flex-wrap align-items-center")
								div(class="options-item d-flex align-items-center")
									div(class="type type-3")
									span(class="text")
										| Ламинированный спанбонд
						div(class="pt-5")
							a(href="#" class="theme-btn-one theme-btn-one_main")
								| Подробнее
								i(class="icon-arrow-angl-right")
			div(class="category-catalog-item")
				div(class="row")
					div(class="col-12 col-sm-6 col-lg-3 pb-3 pb-lg-0")
						a(href="#" class="preview")
							img(class="lazyload w-100" data-src="images/cattegory-catalog-item4.png" alt="img")
					div(class="col-12 col-sm-6 col-lg-9")
						div(class="category-catalog-item-info")
							h2(class="title")
								| Наволочки
							div(class="content")
								p(class="description")
									| Размеры 600*600, 700*700 мм.
							div(class="options d-flex flex-wrap align-items-center")
								div(class="options-item d-flex align-items-center")
									div(class="type type-1")
									span(class="text")
										| СМС
								div(class="options-item d-flex align-items-center")
									div(class="type type-2")
									span(class="text")
										| Спанбонд
								div(class="options-item d-flex align-items-center")
									div(class="type type-3")
									span(class="text")
										| Ламинированный спанбонд
								div(class="options-item d-flex align-items-center")
									div(class="type type-4")
									span(class="text")
										| Акваспан
								div(class="options-item d-flex align-items-center")
									div(class="type type-5")
									span(class="text")
										| Медикейс
								div(class="options-item d-flex align-items-center")
									div(class="type type-6")
									span(class="text")
										| Айрлайд
								div(class="options-item d-flex align-items-center")
									div(class="type type-7")
									span(class="text")
										| Ламинированный айрлайд
								div(class="options-item d-flex align-items-center")
									div(class="type type-8")
									span(class="text")
										| Айрлайд с трансферным слоем
						div(class="pt-5")
							a(href="#" class="theme-btn-one theme-btn-one_main")
								| Подробнее
								i(class="icon-arrow-angl-right")
	include components/about-section.pug