extends base.pug
block content
	include components/breadcrums.pug
	<!-- address-section -->
	<section class="address-section">
		<div class="auto-container">
			<div class="sec-title pb-4">
				h2(class="font-36 mb-5 pb-2")
					b
						| Контактная информация
				<span class="separator" style="background-image: url(images/line.svg);"></span>
			</div>
			<div class="row clearfix">
				<div class="col-lg-3 col-md-6 col-sm-12 address-column mb-5 mb-lg-0">
					<div class="single-adderss-block">
						<div class="inner-box">
							<h3>Производство</h3>
							<ul class="info-list clearfix">
								<li>
									<i class="icon-placeholder"></i>
									| 456578, Челябинская обл., Еманжелинский р-н,  рп Зауральский, ул. Труда, дом № 1А
								</li>
								<li>
									<i class="icon-phone"></i>
									<a href="tel:+73512689099">+7 (351) 268 90 99</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 address-column mb-5 mb-lg-0">
					<div class="single-adderss-block">
						<div class="inner-box">
							<h3>Продажи</h3>
							<ul class="info-list clearfix">
								li
									| Андреева Ирина Александровна
								<li>
									<i class="icon-phone"></i>
									<a href="tel:+73512689099">+7 (351) 268 90 99 д. 4953</a>
								</li>
								li
									| Гальцова Наталья Валерьевна
								<li>
									<i class="icon-phone"></i>
									<a href="tel:+73512689099">+7 (351) 268 90 99 д. 9483</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 address-column mb-5 mb-lg-0">
					<div class="single-adderss-block">
						<div class="inner-box">
							<h3>Электронные торги и гос. контракты</h3>
							<ul class="info-list clearfix">
								<li>
									<i class="icon-phone"></i>
									<a href="tel:+73512689099">+7 (351) 268 90 99 д. 4953</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-12 address-column mb-5 mb-lg-0">
					<div class="single-adderss-block">
						<div class="inner-box">
							<h3>Валидация Стерилизация Окисью Этилена</h3>
							<ul class="info-list clearfix">
								li
									| Пьянзин Игорь Сергеевич
								<li>
									<i class="icon-phone"></i>
									<a href="tel:+73512689099">+7 (351) 268 90 99 д. 4953</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- address-section end -->


	<!-- google-map-section -->
	<section class="google-map-section">
		<div class="map-column">
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2300.398082830096!2d61.229471216061555!3d54.79054697325601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43cf79205eefa223%3A0xfc9312cf2b57a8c6!2z0YPQuy4g0KLRgNGD0LTQsCwgMdCQLCDQl9Cw0YPRgNCw0LvRjNGB0LrQvtC1LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NjU5MQ!5e0!3m2!1sru!2sru!4v1614437050960!5m2!1sru!2sru" width="100%" height="479" style="border:0;" allowfullscreen="" loading="lazy")
		</div>
	</section>
	<!-- google-map-section -->


	<!-- contact-section -->
	<section class="contact-section">
		<div class="auto-container">
			<div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 big-column">
				<div class="sec-title">
					<h2 class="font-36 mb-4 pb-2">Форма обратной связи</h2>
					<span class="separator" style="background-image: url(images/line.svg);"></span>
				</div>
				<div class="form-inner">
					<form method="post" action="#" id="contact-form" class="default-form">
						<div class="row">
							<div class="col-lg-6 col-md-12 col-sm-12 form-group">
								<input type="text" name="username" placeholder="Ваше имя" required>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12 form-group">
								<input type="text" name="phone" placeholder="Телефон или e-mail" required>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 form-group">
								<textarea name="message" placeholder="Сообщение"></textarea>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 form-group d-flex justify-content-center">
								button(type="submit" class="theme-btn-one theme-btn-one_main")
									| Добавить в заявку
									i(class="icon-arrow-angl-right")
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- contact-section end -->