extends base.pug
block content
	<!-- banner-section -->
	<section class="banner-style-one py-5 py-lg-0">
		<div class="pattern-layer" style="background-image: url(images/shape.png);"></div>
		<div class="banner-carousel owl-theme owl-carousel">
			<div class="slide-item">
				<div class="auto-container">
					<div class="content-inner">
						<div class="content-box">
							<h1 class="title">Мы производим медицинские изделия <span>высочайшего</span> класса</h1>
							<p>Собственная фабрика по изготовлению медицинских изделий из нетканных материалов</p>
							<div class="btn-box">
								<a href="#" class="theme-btn-one">подробнее<i class="icon-arrow-angl-right"></i></a>
							</div>
						</div>
						<figure class="image-box image-1">
							<img src="images/welcome-slider-1.png" alt="img">
						</figure>
					</div> 
				</div>
			</div>
			<div class="slide-item">
				<div class="auto-container">
					<div class="content-inner">
						<div class="content-box">
							<h2 class="title">Мы производим медицинские изделия <span>высочайшего</span> класса</h2>
							<p>Собственная фабрика по изготовлению медицинских изделий из нетканных материалов</p>
							<div class="btn-box">
								<a href="#" class="theme-btn-one">подробнее<i class="icon-arrow-angl-right"></i></a>
							</div>
						</div>
						<figure class="image-box image-2">
							<img src="images/welcome-slider-1.png" alt="img">
						</figure>
					</div> 
				</div>
			</div>
			<div class="slide-item">
				<div class="auto-container">
					<div class="content-inner">
						<div class="content-box">
							<h2 class="title">Мы производим медицинские изделия <span>высочайшего</span> класса</h2>
							<p>Собственная фабрика по изготовлению медицинских изделий из нетканных материалов</p>
							<div class="btn-box">
								<a href="#" class="theme-btn-one">подробнее<i class="icon-arrow-angl-right"></i></a>
							</div>
						</div>
						<figure class="image-box imgae-3">
							<img src="images/welcome-slider-1.png" alt="img">
						</figure>
					</div> 
				</div>
			</div>
		</div>
	</section>
	<!-- banner-section end -->

	include components/catalog-items

	<!-- about-section -->
	<section class="about-section" id="about">
		<div class="auto-container">
			<div class="row align-items-center clearfix">
				<div class="col-lg-4 col-md-6 col-sm-12 text-column">
					<div class="text-inner">
						<h2>О компании и производстве</h2>
						<p>Челябинская компания «Медицина-Айрлайд» – уникальное предприятие – в налаженном производстве конечного цикла: сырье – материал – готовые изделия.</p>
						<p>Среди направлений деятельности компании одним из самых востребованных является выпуск одноразовой медицинской одежды и белья.</p>
						<a href="#" class="theme-btn-one">Контакты<i class="icon-arrow-angl-right"></i></a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 image-column">
					<figure class="image-box">
						<img class="lazyload" data-src="images/yfi.png" alt="img">
					</figure>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 text-column">
					<div class="text-inner">
						<div class="box">
							<h4>Наша миссия</h4>
							<p>Обеспечить все медицинские учреждения качественными изделиями, отвечающими современным требованиям гигиены и медицины.</p>
							<p>«Медицина-Айрлайд» является членом Европейской ассоциации производителей предметов гигиены и нетканых материалов (EDANA)</p>
						</div>
						<div class="box">
							<h4>Продукция</h4>
							<p>Применение одноразового медицинского белья и одежды становится нормой. Человечество в ходе своей эволюции пришло к выводу, что самое дорогое в жизни – это здоровье и время, а одноразовая продукция сохраняет и то, и другое.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- about-section end -->

	<!-- news-section -->
	<section class="news-section">
		<div class="auto-container">
			<div class="sec-title">
				<h2>Новости компании</h2>
				<span class="separator" style="background-image: url(images/line.svg);"></span>
			</div>
			<div class="row clearfix">
				<div class="col-lg-4 col-md-6 col-sm-12 news-block">
					<div class="news-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
						<div class="inner-box">
							<figure class="image-box">
								<a href="#">
									<img class="lazyload" src="images/news.png" alt="img">
								</a>
							</figure>
							<div class="lower-content">
								<span class="post-date">22.09.2020</span>
								<h3><a href="#">В Российской федерации введен масочный режим</a></h3>
								<p>В связи с пандемией коронавируса Covid-19 в Российской Федерации введен масочный режим.</p>
								<div class="link"><a href="#">Подробнее<i class="icon-arrow-angl-right"></i></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 news-block">
					<div class="news-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="inner-box">
							<figure class="image-box">
								<a href="#">
									<img class="lazyload" src="images/news.png" alt="img">
								</a>
							</figure>
							<div class="lower-content">
								<span class="post-date">22.09.2020</span>
								<h3><a href="#">В Российской федерации введен масочный режим</a></h3>
								<p>В связи с пандемией коронавируса Covid-19 в Российской Федерации введен масочный режим.</p>
								<div class="link"><a href="#">Подробнее<i class="icon-arrow-angl-right"></i></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 news-block">
					<div class="news-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
						<div class="inner-box">
							<figure class="image-box">
								<a href="#">
									<img class="lazyload" src="images/news.png" alt="img">
								</a>
							</figure>
							<div class="lower-content">
								<span class="post-date">22.09.2020</span>
								<h3><a href="#">В Российской федерации введен масочный режим</a></h3>
								<p>В связи с пандемией коронавируса Covid-19 в Российской Федерации введен масочный режим.</p>
								<div class="link"><a href="#">Подробнее<i class="icon-arrow-angl-right"></i></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- news-section end -->
