extends base.pug
block content
	include components/breadcrums.pug
	<!-- product-details -->
	<section class="product-details product-details-2 pt-80 pb-45-lg-210">
		<div class="auto-container">
			<div class="product-details-content">
				<div class="row clearfix">
					<div class="col-lg-5 col-md-12 col-sm-12 image-column">
						<figure>
							<img class="lazyload" data-src="images/product.png" alt="img">
						</figure>
					</div>
					<div class="col-lg-7 col-md-12 col-sm-12 content-column">
						<form class="product-info">
							<h2 class="title">Простыни</h2>
							div(class="content pb-4")
								p
									| Доступны любые размеры, возможно наличие технологических особенностей таких как:
								ul
									each item in ["- различные отверстия;", "- U-образный вырез;", "- адгезивный край;", "- прозрачные вставки;"]
										li
											= item
								p
									| а также, дополнительных элементов (карман, отвод, чехол для шнура).
							<div class="size-box">
								<h5>Выберите размер:</h5>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio1" checked="" id="customRadio1" class="custom-control-input">
									<label class="custom-control-label" for="customRadio1">700*700</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio1" id="customRadio2" class="custom-control-input">
									<label class="custom-control-label" for="customRadio2">800*700</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio1" id="customRadio3" class="custom-control-input">
									<label class="custom-control-label" for="customRadio3">1400*700</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio1" id="customRadio4" class="custom-control-input">
									<label class="custom-control-label" for="customRadio4">1400*1000</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio1" id="customRadio5" class="custom-control-input">
									<label class="custom-control-label" for="customRadio5">2100*1000</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio1" id="customRadio6" class="custom-control-input">
									<label class="custom-control-label" for="customRadio6">2100*1400</label>
								</div>
							</div>
							<div class="size-box">
								<h5>Выберите тип:</h5>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio2" checked="" id="customRadio7" class="custom-control-input">
									<label class="custom-control-label" for="customRadio7">Общего назначения</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio2" id="customRadio8" class="custom-control-input">
									<label class="custom-control-label" for="customRadio8">Впитывающая</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio2" id="customRadio9" class="custom-control-input">
									<label class="custom-control-label" for="customRadio9">Ламинированная</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio2" id="customRadio10" class="custom-control-input">
									<label class="custom-control-label" for="customRadio10">Впитывающая с ламинированным слоем</label>
								</div>
							</div>
							<div class="size-box">
								<h5>Стерильность:</h5>
								<div class="custom-control custom-radio custom-radio_type">
									<input type="radio" name="customRadio3" checked="" id="customRadio11" class="custom-control-input">
									<label class="custom-control-label" for="customRadio11">стерильные</label>
								</div>
								<div class="custom-control custom-radio custom-radio_type">
									<input type="radio" name="customRadio3"  id="customRadio12" class="custom-control-input">
									<label class="custom-control-label" for="customRadio12">нестерильные</label>
								</div>
							</div>
							<div class="size-box">
								<h5>Штук в упаковке:</h5>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio4" checked="" id="customRadio13" class="custom-control-input">
									<label class="custom-control-label" for="customRadio13">1шт. / уп.</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio4"  id="customRadio14" class="custom-control-input">
									<label class="custom-control-label" for="customRadio14">10шт. / уп.</label>
								</div>
								<div class="custom-control custom-radio custom-radio_block">
									<input type="radio" name="customRadio4"  id="customRadio15" class="custom-control-input">
									<label class="custom-control-label" for="customRadio15">50шт. / уп.</label>
								</div>
							</div>
							<div class="othre-options clearfix pt-5 d-lg-flex justify-content-end">
								button(type="submit" class="theme-btn-one theme-btn-one_main")
									| Добавить в заявку
									i(class="icon-arrow-angl-right")
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- product-details end -->
	include components/about-section.pug