extends base.pug
block content
	include components/breadcrums.pug

	<!-- service-page-section -->
	section(class="service-page-section")
		div(class="container")
			div(class="row")
				div(class="col-12 mb-lg-5")
					p(class="font-ibm font-18 color-000000 mb-5")
						| ООО «Медицина-Айрлайд» предоставляет услуги стерилизации медицинских термолабильных изделий однократного и многократного использования. Стерилизация осуществляется газовым методом, который не меняет физико-химические свойства материалов и отличается высокой эффективностью.
			div(class="row pb-30-lg-100")
				div(class='col-12 pb-4')
					h2(class="font-ibm font-24 color-000000")
						b
							| Этапы стерилизации
				-let arTitle = ["1. Подготовка", "2. Обработка", "3. Дегазация"]
				each item, index in ["Воздушная обработка (продувка) изделий в условиях изменённой влажности и температуры.", "Стерилизация оксидом этилена.", "Изделия проветриваются для удаления остатков газа."]
					div(class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0")
						h3(class="font-ibm font-18 color-000000 mb-3 pb-1")
							b 
								= arTitle[index]
						p(class="font-ibm font-18 color-000000")
							= item
			div(class="row pb-30-lg-130")
				div(class='col-12 pb-5 mb-4 mb-lg-0')
					h2(class="font-ibm font-24 font-18 color-000000")
						b
							| Преимущества газовой стерилизации
				div(class="col-12 col-lg-6 pb-4 pb-lg-0")
					img(class="lazyload img-fluid" data-src="images/service.png" alt="img")
				div(class="col-12 col-lg-6")
					p(class="font-ibm font-18 color-000000 mb-4")
						| Преимущества газовой стерилизации <br>По сравнению с высокотемпературными методами, газовая стерилизация занимает больше времени, но является более бережной и надежной.
					p(class="font-ibm font-18 color-000000 mb-4")
						| Основные преимущества:
					p(class="font-ibm font-18 color-000000 mb-4")
						| подходит для обработки 90% медицинских изделий;<br>может применяться для изделий из материалов, чувствительных к высоким температурам и повышенной влажности среды;<br>высокая проникающая способность оксида этилена обеспечивает надежность метода и позволяет обрабатывать изделия сложной формы;<br>абсолютная безопасность для медицинского персонала и пациентов.<br>Высокая эффективность низкотемпературной стерилизации подтверждена клиническими исследованиями. С помощью инструментов, простерилизованных в нашей лаборатории, было проведено более 10 000 операций в различных медицинских учреждениях страны, при этом не было ни одного случая послеоперационных осложнений.
	<!-- service-page-section end -->
	include components/about-section.pug