extends base.pug
block content
	include components/breadcrums.pug

	<!-- service-page-section -->
	<section class="service-page-section">
		<div class="container">
			<div class="service-block-two mb-100">
				<div class="inner-box">
					<div class="row clearfix">
						<div class="col-lg-6 col-md-6 col-sm-12 image-column">
							<figure class="image-box mr-30">
								<img class="lazyload" data-src="images/service1.png" alt="img">
							</figure>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 content-column">
							<div class="content-box ml-30">
								<h2><a href="#">Стерилизация окисью этилена</a></h2>
								<p>ООО «Медицина-Айрлайд» предоставляет услуги стерилизации медицинских термолабильных изделий однократного и многократного использования. Стерилизация осуществляется газовым методом, который не меняет физико-химические свойства материалов и отличается высокой эффективностью.</p>
								<a href="#" class="theme-btn-one">Подробнее<i class="ml-5 icon-arrow-angl-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="service-block-two mb-100">
				<div class="inner-box">
					<div class="row clearfix">
						<div class="col-lg-6 col-md-6 col-sm-12 content-column order-2 order-lg-1">
							<div class="content-box text-right mr-30">
								<h2><a href="#">Валидация процессов стерилизации</a></h2>
								<p>ООО «Медицина-Айрлайд» предоставляет услуги по валидации процесса низкотемпературной газовой стерилизации медицинских изделий. Валидация включает в себя подробное изучение процесса, в частности, рассматривается:</p>
								<a href="#" class="theme-btn-one">Подробнее<i class="flaticon-right-1"></i></a>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 image-column order-1 order-lg-2">
							<figure class="image-box ml-30">
								<img class="lazyload" data-src="images/service2.png" alt="img">
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="service-block-two">
				<div class="inner-box">
					<div class="row clearfix">
						<div class="col-lg-6 col-md-6 col-sm-12 image-column">
							<figure class="image-box mr-30">
								<img class="lazyload" data-src="images/service3.png" alt="img">
							</figure>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 content-column">
							<div class="content-box ml-30">
								<h2><a href="#">Валидация процессов упаковывания</a></h2>
								<p>Процесс конструирования и разработки упаковочных систем для финишной стерилизации медицинских изделий является сложным и ответственным этапом. Компоненты изделия и упаковочную систему следует сочетать таким образом, чтобы получить рациональный, безопасный и эффективный продукт, соответствующий своему назначению.</p>
								<a href="#" class="theme-btn-one">Подробнее<i class="flaticon-right-1"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- service-page-section end -->