@mixin font-IBMPlexSans {
	font: {
		family: 'IBM Plex Sans', sans-serif;
		style: normal;
		weight: normal;
	}
}

$mainColor: #008CBF;



@import "template/owl.css";
@import "template/bootstrap.css";
@import "template/jquery.fancybox.min.css";
@import "template/animate.css";
@import "template/nice-select.css";
@import "template/color.css";
@import "template/style.css";
@import "template/responsive.css";

@import "default/_default";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "fonts/_icons";
@import "fonts/_font";
@import "footer/_footer";



.scroll-top {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(90deg);
	background-color: $mainColor;
}

#search-popup {
	.close-search {
		display: block;
		transform: rotate(45deg);
		&:hover {
			color: $mainColor;
		}
	}
	.search-form fieldset input[type=search] {
		@media (max-width: 1200px) {
			padding-right: 20px;
		}
	}
}
.banner-carousel {
	.content-box {
		max-width: 570px;
		.title {
			font-family: Ekibastuz;
			font-style: normal;
			font-weight: 900;
			font-size: 48px;
			line-height: 48px;
			color: #000000;
			margin-bottom: 40px;

			position: relative;
			display: block;
			opacity: 0;
			-webkit-transform: translateY(-100px);
			-moz-transform: translateY(-100px);
			-ms-transform: translateY(-100px);
			-o-transform: translateY(-100px);
			transform: translateY(-100px);
			-webkit-transition: all .7s ease;
			-moz-transition: all .7s ease;
			-ms-transition: all .7s ease;
			-o-transition: all .7s ease;
			transition: all .7s ease;
			span {
				color: $mainColor;
			}
			
			@media (max-width: 991px) {
				font-size: 32px!important;
				line-height: 32px!important;
				margin-bottom: 35px;
			}
		}
		p {
			@include font-IBMPlexSans;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 31px;
			color: #000000;
			margin-bottom: 40px;
		}
	}
	.active .content-box {
		.title {
			opacity: 1;
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-ms-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0);
			-webkit-transition-delay: .7s;
			-moz-transition-delay: .7s;
			-ms-transition-delay: .7s;
			-o-transition-delay: .7s;
			transition-delay: .7s;
		}
	}
	.owl-nav {
		.owl-next,
		.owl-prev {
			display: flex;
			justify-content: center;
			align-items: center;

			width: 70px;
			height: 70px;
			&:hover {
				background-color: $mainColor;
			}
		}
	}
}
.banner-style-one .owl-dots .owl-dot:before {
	@include font-IBMPlexSans;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 31px;
	color: #BDBDBD;
}
.banner-style-one .owl-dots .owl-dot.active:before {
	font-weight: 500;
	font-size: 36px;
	line-height: 47px;
	color: #000000;
}
.banner-style-one .owl-dots .owl-dot.active:after {
	top: unset;
	font-weight: 500;
	font-size: 36px;
	line-height: 47px;
	color: #000000;

}
.sec-pad {
	padding: 160px 0px 15px 0px;
	@media (max-width: 991px) {
		padding: 35px 0 25px 0;
	}
}
.sec-title {
	h2 {
		font-family: Ekibastuz;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		line-height: 48px;
		color: #000000;
		margin-bottom: 18px;
		@media(max-width: 991px) {
			font-size: 32px;
			line-height: 32px;
		}
	}
	p {
		@include font-IBMPlexSans;
		font-size: 18px;
		line-height: 23px;
		color: #000000;
		margin-bottom: 18px;
	}
}
.sec-title.style-two .separator {
	width: unset;
}
.topcategory-section-two .single-item .inner-box {
	margin-bottom: 145px;
	.content-box {
		max-width: 160px;
		right: 0px;
		a.view-btn {
			font-family: Ekibastuz;
			font-style: normal;
			font-weight: 900;
			font-size: 18px;
			line-height: 18px;
			color: #000000;
		}
		h3 {
			margin-bottom: 23px;
			a {
				font-family: Ekibastuz;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 24px;
				color: #000000;
				&:hover {
					color: $mainColor
				}
			}
		}
		@media (max-width: 991px) {
			padding: 18px 0 0 0!important;
		}
	}
	@media (max-width: 991px) {
		margin-bottom: 35px;
	}
}


.about-section {
	background: #EDF0F5;
	padding: 100px 0 120px 0px;
	.text-inner {
		.box {
			margin-bottom: 40px;
			h4 {
				font-family: Ekibastuz;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 24px;
				color: #000000;
				margin-bottom: 20px;
			}
		}
		h2 {
			font-family: Ekibastuz;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 36px;
			color: #000000;
			margin-bottom: 30px;
		}
		p {
			@include font-IBMPlexSans;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 23px;
			color: #828282;
		}
	}
	&.about-section_bg-no {
		background: none;
	}
	@media (max-width: 991px) {
		padding: 44px 0px;
	}
}











.news-section {
	padding: 100px 0px;
	.sec-title h2 {
		font-family: Ekibastuz;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 36px;
		color: #000000;
		margin-bottom: 40px;
		
	}
	.news-block-one {
		.inner-box .image-box {
			background-color: $mainColor;
		}
		.lower-content {
			h3 {
				margin-bottom: 25px;
				a {
					@include font-IBMPlexSans;
					font-weight: 500;
					font-size: 24px;
					line-height: 31px;
					&:hover {
						color: $mainColor;
					}
				}
			}
			.post-date {
				@include font-IBMPlexSans;
				font-size: 14px;
				line-height: 18px;
				color: #828282;
				margin-bottom: 17px;
				&:before {
					top: calc(50% - 1px);
				}
			}
			p {
				@include font-IBMPlexSans;
				font-size: 18px;
				line-height: 23px;
				color: #222222;
				margin-bottom: 30px;
			}
			.link  {
				a {
					font-family: Ekibastuz;
					font-style: normal;
					font-weight: 900;
					font-size: 18px;
					line-height: 18px;
					color: #000000;
					i {
						transform: rotate(0deg);
					}
					&:hover {
						i {
							transform: rotate(11.5deg);
						}
					}
				}
			}
		}
	}
	.inner-box .lower-content {
		padding: 65px 30px 22px 29px;
	}
	@media (max-width: 991px) {
		padding: 50px 0 10px 0px;
	}
}






.chooseus-section {
	.sec-title {
		h2 {
			font-family: Ekibastuz;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 36px;
			color: #222222;
			margin-bottom: 20px;
		}
		p {
			@include font-IBMPlexSans;
			font-size: 18px;
			line-height: 23px;
			color: #222222;
			margin-bottom: 30px;
		}
	}
	.content-column {
		.content-box .single-item {
			padding-right: 0px;
			padding-left: 78px;
			h3 {
				@include font-IBMPlexSans;
				font-weight: bold;
				font-size: 18px;
				line-height: 23px;
				color: #000000;
				margin-bottom: 14px;
			}
			p {
				@include font-IBMPlexSans;
				font-size: 16px;
				line-height: 21px;
				color: #4F4F4F;
				padding-right: 50px;
				@media (max-width: 991px) {
					padding-right: 0px;
				}
			}
		}
	}
}

.page-title {
	.content-box {
		h1 {
			font-family: Ekibastuz;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 36px;
			text-align: center;
			color: #000000;
			margin-bottom: 20px;
		}
		.bread-crumb {
			li {
				@include font-IBMPlexSans;
				font-size: 18px;
				line-height: 23px;
				color: #BDBDBD;
				margin-right: 0px;
				&:before {
					font-size: 12px;
					color: #828282;
					font-family: 'icomoon' !important;
					speak: never;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					content: "\e903";

					top: 50%;
					transform: translateY(-50%);
				}
				a {
					color: #BDBDBD;
					&:hover {
						color: $mainColor;
					}
				}
			}
		}
	}
}
.category-catalog-item {
	background: #FFFFFF;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
	padding: 56px 17px 48px 17px;
	margin-bottom: 50px;
	.category-catalog-item-info {
		min-height: 250px;
	}
	.preview {
		display: block;
		@media (max-width: 576px) {
			padding: 0 100px;
		}
	}
	.title {
		@include font-IBMPlexSans;
		font-weight: bold;
		font-size: 24px;
		line-height: 31px;
		color: #000000;
		margin-bottom: 15px;
	}
	.content {
		ul {
			padding: 0px;
			margin: 0px;
		}
		p, li {
			@include font-IBMPlexSans;
			font-size: 16px;
			line-height: 21px;
			color: #4F4F4F;
		}
	}
	.options {
		padding-top: 30px;
		.options-item {
			margin: 5px 30px 5px 0px;
		}
		.type {
			display: block;
			width: 30px;
			height: 30px;
			border: 1px solid #C4C4C4;
			border-radius: 100%;
			margin-right: 13px;
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: center;
			&.type-1 {
				background-color: #CBC7E5;
			}
			&.type-2 {
				background-color: #8A83AE;
			}
			&.type-3 {
				background-image: url("../images/type3.png");
			}
			&.type-4 {
				background-color: #7189BC;
			}
			&.type-5 {
				background-color: #A3C4B4;
			}
			&.type-6 {
				background-color: #FFFFFF;
			}
			&.type-7 {
				background-image: url("../images/type7.png");
			}
			&.type-8 {
				background-image: url("../images/type8.png");
			}
		}
		.text {
			@include font-IBMPlexSans;
			font-size: 14px;
			line-height: 18px;
			color: #000000;
			max-width: 146px;
		}
	}
	@media (max-width: 991px) {
		padding: 20px 17px 30px 17px;
		margin-bottom: 30px;
	}
}
.product-details-content {
	margin: 0px;
	.product-info {
		.title {
			@include font-IBMPlexSans;
			font-weight: bold;
			font-size: 24px;
			line-height: 31px;
			color: #000000;
			margin-bottom: 15px;
		}
		.content {
			p {
				@include font-IBMPlexSans;
				font-size: 16px;
				line-height: 21px;
				color: #4F4F4F;
				margin: 0px;
			}
			ul {
				li {
					@include font-IBMPlexSans;
					font-size: 16px;
					line-height: 21px;
					color: #4F4F4F;
				}
			}
		}
		.size-box {
			h5 {
				@include font-IBMPlexSans;
				font-weight: bold;
				font-size: 18px;
				line-height: 23px;
				color: #000000;
				margin-bottom: 15px;
			}
		}
	}
}
.clients-section {
	background: none;
	padding-bottom: 160px;
	@media(max-width: 991px) {
		padding-top: 0px;
		padding-bottom: 100px;
	}
}
.rare-item {
	background: #FFFFFF;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
	padding: 25px;
	.icon {
		font-size: 64px;
		color: $mainColor;
		margin-bottom: 12px;
	}
	.title {
		@include font-IBMPlexSans;
		font-weight: 500;
		font-size: 24px;
		line-height: 31px;
		color: #000000;
		margin-bottom: 12px;
	}
	.description {
		@include font-IBMPlexSans;
		font-size: 16px;
		line-height: 21px;
		color: #828282;
		margin: 0px;
	}
}
.func-el-item {
	background: #FFFFFF;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
	padding: 30px 10px 20px 10px;
	margin-bottom: 50px;
	.preview {
		margin-bottom: 20px;
	}
	.content {
		min-height: 155px;
		@media (max-width: 991px) {
			min-height: 60px;
		}
	}
	.title {
		@include font-IBMPlexSans;
		font-weight: bold;
		font-size: 18px;
		line-height: 23px;
		text-align: center;
		color: #000000;
		margin-bottom: 10px;
		min-height: 46px;
		@media (max-width: 991px) {
			font-size: 16px;
			line-height: 18px;
		}
	}
	.description {
		@include font-IBMPlexSans;
		font-size: 16px;
		line-height: 21px;
		color: #4F4F4F;
		margin: 0px;
		padding: 0 3px;
		@media (max-width: 991px) {
			display: none;
		}
	}
	&.func-el-item_instruction {
		padding: 40px 23px;
		box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
		.preview {
			width: 77px;
			min-width: 77px;
		}
		.title {
			font-weight: normal;
			text-align: left;
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 16px;
		}
		.link {
			@include font-IBMPlexSans;
			font-size: 14px;
			line-height: 18px;
			text-decoration: none;
			color: $mainColor;
			span{
				margin-left: 10px;
				line-height: 14px;
    			display: inline-block;
				border-bottom: 1px solid $mainColor;
			}
		}
		.content {
			padding-left: 25px;
			min-height: unset;
		}
	}
	@media (max-width: 991px) {
		margin-bottom: 15px;
	}
}
.service-page-section {
	padding: 70px 0 20px 0;
	.service-block-two {
		.inner-box {
			.content-box {
				h2 {
					margin-bottom: 30px;
					a {
						font-family: "Ekibastuz";
						font-style: normal;
						font-weight: bold;
						font-size: 36px;
						line-height: 36px;
						color: #000000;
						&:hover {
							color: $mainColor;
						}
						@media (max-width: 991px) {
							font-size: 32px;
						}
					}
				}
				p {
					@include font-IBMPlexSans;
					font-size: 18px;
					line-height: 23px;
					color: #000000;
					margin-bottom: 50px;
				}
				@media (max-width: 991px) {
					text-align: left!important;
				}
			}
		}
	}
	@media (max-width: 991px) {
		padding-bottom: 30px;
	}
}
.address-section {
	.single-adderss-block {
		.inner-box {
			padding: 0px;
			h3 {
				font-family: Ekibastuz;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 24px;
				color: #000000;
				margin-bottom: 30px;
			}
			.info-list {
				li {
					@include font-IBMPlexSans;
					font-size: 18px;
					line-height: 23px;
					color: #828282;
					padding: 0px;

					display: flex;
					align-items: flex-start;
					a {
						&:hover {
							color: $mainColor
						}
					}
					i {
						position: unset;
						margin-right: 10px;
					}
				}
			}
		}
		
	}
}
.contact-section {
	@media (max-width: 991px) {
		padding-bottom: 100px;
	}
}
.cart-item {
	padding: 34px 0 48px 0;
	border-bottom: 1px solid #EDEDED;
	&.cart-item__header {
		background-color: #EDF0F5;
		padding: 24px 0px;
	}
	.cart-item__preview {
		padding-left: 20px;
		img {
			width: 97px;
			margin-right: 32px;
		}
		a {
			@include font-IBMPlexSans;
			font-weight: bold;
			font-size: 18px;
			line-height: 23px;
			color: #000000;
			&:hover {
				color: $mainColor;
			}
		}
	}
}









.font-ibm {
	@include font-IBMPlexSans;
}
.font-14 {
	font-size: 14px!important;
	line-height: 16px!important;
}
.font-18 {
	font-size: 18px!important;
	line-height: 20px!important;
}
.font-24 {
	font-size: 24px!important;
	line-height: 26px!important;
}
.font-36 {
	font-size: 36px!important;
	line-height: 36px!important;
}
.color-000000 {
	color: #000;
}
.mb-30-lg-160 {
	margin-bottom: 30px!important;
	@media (min-width: 992px) {
		margin-bottom: 160px!important;
	}
}
.pt-80 { padding-top: 80px!important; } 
.pt-90 { padding-top: 90px!important; }

.pt-40-lg-80 {
	padding-top: 40px!important;
	@media (min-width: 992px) {
		padding-top: 80px!important;
	}
}
.pb-100 { padding-bottom: 100px!important; }
.pb-30-lg-100 {
	padding-bottom: 30px!important;
	@media (min-width: 992px) {
		padding-bottom: 100px!important;
	}
}
.pb-30-lg-130 {
	padding-bottom: 30px!important;
	@media (min-width: 992px) {
		padding-bottom: 130px!important;
	}
}
.pb-45-lg-175 {
	padding-bottom: 45px!important;
	@media (min-width: 992px) {
		padding-bottom: 175px!important;
	}
}
.pb-45-lg-210 {
	padding-bottom: 45px!important;
	@media (min-width: 991px) {
		padding-bottom: 210px!important;
	}
}
.pb-50-lg-100 {
	padding-bottom: 50px!important;
	@media (min-width: 992px) {
		padding-bottom: 100px!important;
	}
}
.pb-50-lg-125 {
	padding-bottom: 50px!important;
	@media (min-width: 992px) {
		padding-bottom: 125px!important;
	}
}


