.main-header {
	.header-top {
		padding: 15px 0 14px 0px;
		.info li {
			@include font-IBMPlexSans;
			a {
				display: flex;
				align-items: center;
				color: #333333;
				i {
					color: #000;
				}
				&:hover {
					color: $mainColor;
				}
			}
			i {
				color: #000;
			}
		}
	}
	.header-lower {
		padding: 14px 0 13px 0px;
	}
	.logo-box {
		padding: 0px;
		@media (max-width: 991px) {
			max-width: 115px;
		}
	}
	.menu-right-content {
		li {
			a {
				font-size: 28px;
				&:hover {
					color: $mainColor;
				}
			}
		}
		@media (max-width: 991px) {
			margin: 11px 0 11px 0px;
		}
	}
	.search-btn .search-toggler:hover {
		color: $mainColor;
	}
}
.search-popup .search-form fieldset input[type=submit] {
	background: $mainColor;
}
.search-popup .recent-searches li a:hover {
	color: $mainColor;
    border-color: $mainColor;
}
.main-menu {
	.navigation>li {
		padding: 6px 0px;
		&>a {
			@include font-IBMPlexSans;
			font-weight: 600;
			font-size: 18px;
			line-height: 23px;
			color: #222222;
			padding-right: 0px;
			@media (max-width: 1200px) {
				font-size: 16px;
			}
			&:hover {
				color: $mainColor;
			}
		}
		&.current>a {
			color: $mainColor;
		}
		&:hover {
			a {
				color: $mainColor;
			}
		}
	}
}
.header-lower-border {
	margin-top: 10px;
	border-bottom: 1px solid #EDEDED;
}
.sticky-header {
	padding: 10px 0px;
	.outer-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logo-box .logo {
		padding: 0px!important;
	}
	.main-menu .navigation>li.current>a,
	.main-menu .navigation>li:hover>a {
		background: $mainColor;
	}
	.main-menu .navigation>li>a {
		@media (max-width: 1200px) {
			padding: 15px 20px;
		}
		@media (max-width: 1000px) {
			padding: 6px 10px;
		}
	}
}
.header-lower-wrapper-phone {
	@media (max-width: 991px) {
		max-width: calc(100% - 115px);
		width: 100%;
	}
}
.phone-block {
	&.phone-block_header {
		display: flex;
    	align-items: center;

		@include font-IBMPlexSans;
		font-weight: 600;
		font-size: 18px;
		line-height: 23px;
		color: #000000;
		
	}
}
.menu-area {
	.mobile-nav-toggler {
	    padding: 0px;
		margin: 0px;
		border: 0px;
		.icon-bar {
			border-radius: 10px;
			&:nth-child(1) {
			}
			&:nth-child(2) {
				width: 20px;
			}
			&:nth-child(3) {
				width: 25px;
			}
		}
	}
}
.mobile-menu {
	.close-btn {
		border-color: #000000;
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			color: #000;
			font-weight: bold;
			font-size: 20px;
			margin: 0px;
			display: block;
			transform: rotate(45deg);
		}
	}
	.menu-backdrop {
		background: $mainColor;
	}
	.menu-box {
		background-color: rgba(255, 255, 255, .98);
		padding-left: 50px;
		padding-right: 34px;
	}
	.navigation li {
		&.current {
			a {
				color: $mainColor;
			}
		}
		a {
			@include font-IBMPlexSans;
			font-weight: 600;
			font-size: 18px;
			line-height: 23px;
			color: #000000;
			padding-left: 0px;
			padding-top: 0px;
			padding-bottom: 5px;
			margin-bottom: 10px;
			border-bottom: 1px solid #EDEDED;
			&:before {
				display: none;
			}
		}
	}
	.contact-info {
		padding-left: 0px;
		padding-right: 0px;
		h4 {
			@include font-IBMPlexSans;
			font-weight: 600;
			font-size: 24px;
			line-height: 31px;
			color: #000000;
			margin-bottom: 30px;
		}
		li {
			i {
				font-size: 24px!important;
				color: #000!important;
			}
			a {
				font-family: Ekibastuz;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 18px;
				
				&.phone {
					color: #222222;
				}
				&.mail {
					color: #4F4F4F;
				}
			}
		}
	}
}